.cart {
  position: relative;
  width: 90%;
  margin: auto;
  padding-top: 2rem;
}

.exit {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.exit:hover,
.exit:active {
  cursor: pointer;
}

.order-list {
  max-height: 30rem;
}

.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: solid black 2px;
}

.order-item span {
  font-size: 1.2rem;
  font-weight: bold;
}

.cart__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
